body{
    background-color:hsl(212, 45%, 89%);

    text-align: center;

    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;

    font-family: 'Outfit', sans-serif;
    
}